<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Desafio API</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='img/favicon/safari-pinned-tab.svg') }}" color="#002868">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">

        <!-- Metadata -->
        <link rel="manifest" href="{{ url_for('static', filename='metadata/site.webmanifest') }}">
        <meta name="msapplication-config" content="{{ url_for('static', filename='metadata/browserconfig.xml') }}">

        <!-- Color theming data -->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#002868">

        <!-- Bootstrap CSS File -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS File -->
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    </head>
    <script>
        function drawActive(newActive)
        {
            $("#navUL").children("li").each(function()
            {
                $(this).find("a").removeClass("active").removeAttr("aria-current");
            });

            $("#" + newActive).addClass("active").attr("aria-current", "page");
        }
    </script>
    <body>
        <nav id="primary-navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home', _anchor='') }}"><img src="{{ url_for('static', filename='img/icosophage_banner.png') }}" height="64" width="128"></img></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-0 mb-md-0 mr-auto" id="navUL">
                        <li class="nav-item">
                            <a id="homeNav" class="nav-link active" aria-current="page" href="{{ url_for('home', _anchor='home') }}" onclick="drawActive('homeNav')">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="aboutNav" class="nav-link" href="{{ url_for('home', _anchor='about') }}" onclick="drawActive('aboutNav')">Como funciona?</a>
                        </li>
                        <li class="nav-item">
                            <a id="learnNav" class="nav-link" href="{{ url_for('home', _anchor='learnapi') }}" onclick="drawActive('learnNav')">Sobre APIs</a>
                        </li>
                        <li class="nav-item">
                            <a id="participantsNav" class="nav-link" href="{{ url_for('home', _anchor='participants') }}" onclick="drawActive('participantsNav')">Participantes</a>
                        </li>
                    </ul>
                    <span class="nav-item justify-content-right">
                        {% if 'user' in session %}
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle" width="60" height="60" aria-label="User Image: 60x60" src="{{ session.user.user_details.avatar_url }}" alt="User Image: 60x60"></img>
                                </a>
                                  <div class="dropdown-menu dropdown-menu-palette-emphasis" aria-labelledby="dropdownMenuButton">
                                    <h6 class="dropdown-header">Logado como {{ session.user.user_details.name }}</h6>
                                    <a class="dropdown-item dropdown-item-pallete-emphasis" href="{{ url_for('user.profile', login=session.user.user_details.login) }}">Perfil</a>
                                    <a class="dropdown-item dropdown-item-pallete-emphasis" href="{{ url_for('user.scoreboard') }}">Scoreboard</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item dropdown-item-pallete-emphasis" href="{{ url_for('user.logout') }}">Logout</a>
                                  </div>
                            </div>
                        {% else %}
                            <a type="button" class="btn btn-lg btn-outline-palette-primary" href="{{ url_for('user.githubLogin') }}">Login</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </nav>        

        <main class="container">
            {% block content %}
            {% endblock %}

            <!-- FOOTER -->
            <footer class="container-fluid">
                <p class="float-end"><a href="#">Back to top</a></p>
                <p>&copy; 2022–2022 <b>Giroflex Consulting - <span class="text-emphasis">Giovanni Rebouças</span></b> &middot; <a href="https://www.linkedin.com/in/giovannireboucas/">LinkedIn</a> &middot; <a href="https://github.com/Giorox">Github</a></p>
            </footer>
        </main>
    </body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={{ url_for('static', filename='js/jquery-3.6.0.min.js') }}></script>
    <script src={{ url_for('static', filename='js/popper.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
    <script>
        function setActiveListElements(event){
            // Get the offset of the window from the top of page
            var windowPos = $(window).scrollTop();
            
            $('#primary-navbar li a').each(function() { 
                var anchorId = $(this);
                var target = $(anchorId.attr("href").replace("/", ""));

                if (target.length > 0) {
                    if (target.position().top - $('#primary-navbar').outerHeight() <= windowPos) {
                        $('#primary-navbar li a').removeClass("active");
                        anchorId.addClass("active");
                    }
                }
            });
        }

        $(window).scroll(function() {
            setActiveListElements();
        });
    </script>
</html>